.section
  .section__content
    %h1 Ordens de Montagem

    %table
      %thead
        %tr
          %th #
          %th Nº do Pedido
          %th Status
          %th

      %tbody
        - @assembles.each do |assemble|
          - if assemble.order.status != "Pendente pagamento"
            %tr
              %td= assemble.id
              %td= assemble.order.order_identification
              %td= assemble.status
              %td
                = link_to assemble do
                  %img{src: "https://icongr.am/clarity/bundle.svg?color=31a39a", style: "max-width: 20px"}
                  %text{style: "color: #31a39a"}
                    Iniciar Montagem
