- content_for :head do
  / Sharing meta tags
  %meta{:content => "Multinível Modas", :property => "og:title"}/
  %meta{:content => "Hey, cadastre-se usando meu código!", :property => "og:description"}/
  %meta{:content => "https://multinivelmodas.baptistsoftware.com.br/#{@user.avatar.url}", :property => "og:image"}/
  %meta{:content => "https://multinivelmodas.baptistsoftware.com.br/", :property => "og:url"}/
  %meta{:content => "Multinível Modas", :property => "og:site_name"}/
