.section
  .section__content
    %h1 Pedidos

    - @purchase_orders.order("created_at desc").each do |purchase_order|
      .product_card
        .product_card__actions
          %button.button.button--yellow{style: "max-width: 130px; font-size: 12px"} Imprimir ficha de conferência
          %br          	
          %button.button.button--green{style: "max-width: 130px; font-size: 12px"} Entregue no ponto de apoio

        = image_tag(purchase_order.product.product_pictures.first.picture.url, class: "product_card__picture", style: "margin-right: 25px")

        .product_card__content{style: "vertical-align: top"}
          %h3{style: "margin: 0"}= purchase_order.product.name

          %strong Total do pedido:
          = format_price(purchase_order.value)

          %br
          - purchase_order.purchase_orders_items.each do |item|
            %small= item.quantity.to_s + " unidades do tamanho " + item.size.to_s
            %br

      %br
      %hr{style: "width: 100%;"}
      %br
