.section
  .section__content.text-center
    #results
      - if @shopping_cart.shopping_cart_items.count > 0
        = render(partial: "shopping_carts/list", locals: { shopping_cart: @shopping_cart })

      - else
        %h1.title Seu carrinho está vazio, porquê não adiciona algo?

        = image_tag("logo-vertical.png", style: "width: 100%; height: auto")

        %br

        = link_to :store do
          %button.button.button--green.button--full-width Ir à loja
