.section
  .section__content.text-center
    - if @shopping_cart.shopping_cart_items.count > 0
      %h1.title Carrinho de compras

      .table
        %table.table
          %thead
            %tr
              %th #
              %th Nome
              %th Tam.
              %th Quant.
              %th{style: "min-width: 70px"} Preço un.
              %th
          %tbody#results
            = render(partial: "shopping_carts/list", locals: { shopping_cart: @shopping_cart })

      %br

      %button.button.button--green Finalizar compra
      %br
      = link_to store_path do
        %button.button.button--pink.button--full-width Continuar Comprando

    - else
      %h1.title Seu carrinho está vazio, porquê não adiciona algo?

      = image_tag("logo-vertical.png", style: "width: 100%; height: auto")

      %br

      = link_to :store do
        %button.button.button--green.button--full-width Ir à loja
