.section
  .section__content.text-center#results
    - if @shopping_cart.shopping_cart_items.count > 0
      = render "shopping_carts/list", shopping_cart: @shopping_cart

    - else
      %h1.title Seu carrinho está vazio, porquê não adiciona algo?

      = image_tag("logo-vertical.png", style: "width: 100%; height: auto")

      %br

      = link_to :store do
        %button.button.button--green.button--full-width Ir à loja

- content_for :javascript do
  :javascript
    function changeQuantity(element) {
      var id = element.attr("data-toggle");

      setTimeout(function() {
        $('#submit_quantity_' + id).click();
      }, 1000);
    }
