@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/button.scss */
.button {
  border: none;
  border-radius: 10px;
  padding: 7px 13px;
  color: white;
  font-size: 15px;
  transition: padding 0.2s;
  cursor: pointer;
}

/* line 12, app/assets/stylesheets/components/button.scss */
.button--full-width {
  width: 100%;
  padding: 10px;
}

@media (min-width: 425px) {
  /* line 14, app/assets/stylesheets/components/button.scss */
  .button--right {
    float: right;
  }
}

/* line 18, app/assets/stylesheets/components/button.scss */
.button:disabled {
  background-color: #efefef !important;
}

/* line 71, app/assets/stylesheets/components/variables.scss */
.button--blue {
  background-color: #13B3F2;
}

/* line 72, app/assets/stylesheets/components/variables.scss */
.button--black {
  background-color: #0D0D0D;
}

/* line 73, app/assets/stylesheets/components/variables.scss */
.button--pink {
  background-color: #F23D5E;
}

/* line 74, app/assets/stylesheets/components/variables.scss */
.button--green {
  background-color: #35C1AE;
}

/* line 75, app/assets/stylesheets/components/variables.scss */
.button--light-green {
  background-color: #2ad8a6;
}

/* line 76, app/assets/stylesheets/components/variables.scss */
.button--yellow {
  background-color: #ffc406;
}

/* line 77, app/assets/stylesheets/components/variables.scss */
.button--gray {
  background-color: #4B4B4B;
}

/* line 78, app/assets/stylesheets/components/variables.scss */
.button--light-gray {
  background-color: #efefef;
}

/* line 25, app/assets/stylesheets/components/button.scss */
.select-buttons {
  width: 100%;
}

/* line 28, app/assets/stylesheets/components/button.scss */
.select-buttons__content {
  margin: 0 auto;
  width: fit-content;
}

/* line 33, app/assets/stylesheets/components/button.scss */
.select-buttons__button {
  border-top: 2px solid #35C1AE;
  display: inline-block;
  padding: 10px;
  background-color: #efefef;
  font-weight: bold;
}

/* line 40, app/assets/stylesheets/components/button.scss */
.select-buttons__button--active {
  background-color: #35C1AE;
  color: white;
}

/* line 47, app/assets/stylesheets/components/button.scss */
.add-association-button {
  padding: 5px 10px;
  background-color: #13B3F2;
  border-radius: 5px;
  font-weight: bold;
}

/* line 54, app/assets/stylesheets/components/button.scss */
.remove-association-button {
  padding: 5px 10px;
  background-color: #F20505;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/card.scss */
.card {
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

/* line 9, app/assets/stylesheets/components/card.scss */
.card__content {
  padding: 15px;
}

@media (min-width: 425px) {
  /* line 9, app/assets/stylesheets/components/card.scss */
  .card__content {
    padding: 20px;
  }
}

/* line 71, app/assets/stylesheets/components/variables.scss */
.card--blue {
  background-color: #13B3F2;
}

/* line 72, app/assets/stylesheets/components/variables.scss */
.card--black {
  background-color: #0D0D0D;
}

/* line 73, app/assets/stylesheets/components/variables.scss */
.card--pink {
  background-color: #F23D5E;
}

/* line 74, app/assets/stylesheets/components/variables.scss */
.card--green {
  background-color: #35C1AE;
}

/* line 75, app/assets/stylesheets/components/variables.scss */
.card--light-green {
  background-color: #2ad8a6;
}

/* line 76, app/assets/stylesheets/components/variables.scss */
.card--yellow {
  background-color: #ffc406;
}

/* line 77, app/assets/stylesheets/components/variables.scss */
.card--gray {
  background-color: #4B4B4B;
}

/* line 78, app/assets/stylesheets/components/variables.scss */
.card--light-gray {
  background-color: #efefef;
}

/* line 18, app/assets/stylesheets/components/card.scss */
.product_card {
  position: relative;
  text-align: left;
}

/* line 22, app/assets/stylesheets/components/card.scss */
.product_card__picture {
  display: inline;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

/* line 29, app/assets/stylesheets/components/card.scss */
.product_card__content {
  display: inline-block;
  text-align: left;
  margin-left: 10px;
}

/* line 35, app/assets/stylesheets/components/card.scss */
.product_card__actions {
  text-align: right;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  font-size: 15px;
  padding-top: 10px;
}

/* line 46, app/assets/stylesheets/components/card.scss */
.product_card__actions img {
  width: 15px;
  height: 15px;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/category.scss */
.categories {
  height: 90px;
  border-bottom: 1px solid #efefef;
  padding-bottom: 5px;
}

/* line 8, app/assets/stylesheets/components/category.scss */
.categories__content {
  white-space: nowrap;
  overflow: scroll;
  padding: 10px;
}

/* line 15, app/assets/stylesheets/components/category.scss */
.category {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
}

/* line 22, app/assets/stylesheets/components/category.scss */
.category .img {
  background: linear-gradient(45deg, #35C1AE, #13B3F2);
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

/* line 33, app/assets/stylesheets/components/category.scss */
.category img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/color-box.scss */
.color-box {
  position: relative;
}

/* line 71, app/assets/stylesheets/components/variables.scss */
.color-box--blue {
  background-color: #13B3F2;
}

/* line 72, app/assets/stylesheets/components/variables.scss */
.color-box--black {
  background-color: #0D0D0D;
}

/* line 73, app/assets/stylesheets/components/variables.scss */
.color-box--pink {
  background-color: #F23D5E;
}

/* line 74, app/assets/stylesheets/components/variables.scss */
.color-box--green {
  background-color: #35C1AE;
}

/* line 75, app/assets/stylesheets/components/variables.scss */
.color-box--light-green {
  background-color: #2ad8a6;
}

/* line 76, app/assets/stylesheets/components/variables.scss */
.color-box--yellow {
  background-color: #ffc406;
}

/* line 77, app/assets/stylesheets/components/variables.scss */
.color-box--gray {
  background-color: #4B4B4B;
}

/* line 78, app/assets/stylesheets/components/variables.scss */
.color-box--light-gray {
  background-color: #efefef;
}

/* line 8, app/assets/stylesheets/components/color-box.scss */
.color-box__content {
  width: 140%;
  height: 100%;
  position: absolute;
  z-index: -1;
  margin-left: -30px;
}

@media (min-width: 768px) {
  /* line 8, app/assets/stylesheets/components/color-box.scss */
  .color-box__content {
    height: 140%;
    width: 100vw;
    left: 0;
    margin: 0;
  }
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/columns.scss */
.columns {
  text-align: center;
}

/* line 6, app/assets/stylesheets/components/columns.scss */
.columns--left {
  text-align: left;
}

/* line 9, app/assets/stylesheets/components/columns.scss */
.column {
  display: inline-block;
}

/* line 12, app/assets/stylesheets/components/columns.scss */
.column--1 {
  width: 99%;
}

/* line 13, app/assets/stylesheets/components/columns.scss */
.column--2 {
  width: 49%;
}

/* line 14, app/assets/stylesheets/components/columns.scss */
.column--3 {
  width: 32%;
}

/* line 15, app/assets/stylesheets/components/columns.scss */
.column--4 {
  width: 24%;
}

/* line 16, app/assets/stylesheets/components/columns.scss */
.column--5 {
  width: 19%;
}

/* line 17, app/assets/stylesheets/components/columns.scss */
.column--6 {
  width: 15%;
}

@media (min-width: 425px) {
  /* line 20, app/assets/stylesheets/components/columns.scss */
  .column--sm-1 {
    width: 99%;
  }
  /* line 21, app/assets/stylesheets/components/columns.scss */
  .column--sm-2 {
    width: 49%;
  }
  /* line 22, app/assets/stylesheets/components/columns.scss */
  .column--sm-3 {
    width: 32%;
  }
  /* line 23, app/assets/stylesheets/components/columns.scss */
  .column--sm-4 {
    width: 24%;
  }
  /* line 24, app/assets/stylesheets/components/columns.scss */
  .column--sm-5 {
    width: 19%;
  }
  /* line 25, app/assets/stylesheets/components/columns.scss */
  .column--sm-6 {
    width: 15%;
  }
}

@media (min-width: 768px) {
  /* line 29, app/assets/stylesheets/components/columns.scss */
  .column--md-1 {
    width: 99%;
  }
  /* line 30, app/assets/stylesheets/components/columns.scss */
  .column--md-2 {
    width: 49%;
  }
  /* line 31, app/assets/stylesheets/components/columns.scss */
  .column--md-3 {
    width: 32%;
  }
  /* line 32, app/assets/stylesheets/components/columns.scss */
  .column--md-4 {
    width: 24%;
  }
  /* line 33, app/assets/stylesheets/components/columns.scss */
  .column--md-5 {
    width: 19%;
  }
  /* line 34, app/assets/stylesheets/components/columns.scss */
  .column--md-6 {
    width: 15%;
  }
}

@media (min-width: 1200px) {
  /* line 38, app/assets/stylesheets/components/columns.scss */
  .column--lg-1 {
    width: 99%;
  }
  /* line 39, app/assets/stylesheets/components/columns.scss */
  .column--lg-2 {
    width: 49%;
  }
  /* line 40, app/assets/stylesheets/components/columns.scss */
  .column--lg-3 {
    width: 32%;
  }
  /* line 41, app/assets/stylesheets/components/columns.scss */
  .column--lg-4 {
    width: 24%;
  }
  /* line 42, app/assets/stylesheets/components/columns.scss */
  .column--lg-5 {
    width: 19%;
  }
  /* line 43, app/assets/stylesheets/components/columns.scss */
  .column--lg-6 {
    width: 15%;
  }
}

@media (min-width: 1800px) {
  /* line 47, app/assets/stylesheets/components/columns.scss */
  .column--xl-1 {
    width: 99%;
  }
  /* line 48, app/assets/stylesheets/components/columns.scss */
  .column--xl-2 {
    width: 49%;
  }
  /* line 49, app/assets/stylesheets/components/columns.scss */
  .column--xl-3 {
    width: 32%;
  }
  /* line 50, app/assets/stylesheets/components/columns.scss */
  .column--xl-4 {
    width: 24%;
  }
  /* line 51, app/assets/stylesheets/components/columns.scss */
  .column--xl-5 {
    width: 19%;
  }
  /* line 52, app/assets/stylesheets/components/columns.scss */
  .column--xl-6 {
    width: 15%;
  }
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/fancy-form.scss */
.fancy-form {
  text-align: left;
}

/* line 6, app/assets/stylesheets/components/fancy-form.scss */
.fancy-form input, .fancy-form textarea, .fancy-form select {
  display: block;
  width: 93%;
  height: 27px;
  margin: 10px 0 15px 0;
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #efefef;
  border-radius: 10px;
  border: none;
}

/* line 18, app/assets/stylesheets/components/fancy-form.scss */
.fancy-form select {
  width: 100%;
  height: 35px;
}

/* line 23, app/assets/stylesheets/components/fancy-form.scss */
.fancy-form textarea {
  height: unset;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/flash.scss */
.flash {
  padding: 10px;
  position: absolute;
  width: fit-content;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 5px;
  background-color: white;
}

/* line 15, app/assets/stylesheets/components/flash.scss */
.flash--success {
  color: #35C1AE;
  border: 1px solid #35C1AE;
}

/* line 16, app/assets/stylesheets/components/flash.scss */
.flash--warning {
  color: #ffc406;
  border: 1px solid #ffc406;
}

/* line 17, app/assets/stylesheets/components/flash.scss */
.flash--danger {
  color: #F20505;
  border: 1px solid #F20505;
}

/* line 18, app/assets/stylesheets/components/flash.scss */
.flash--alert {
  color: #F20505;
  border: 1px solid #F20505;
}

/* line 19, app/assets/stylesheets/components/flash.scss */
.flash--notice {
  color: #13B3F2;
  border: 1px solid #13B3F2;
}

/* line 20, app/assets/stylesheets/components/flash.scss */
.flash--info {
  color: #13B3F2;
  border: 1px solid #13B3F2;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/footer.scss */
footer {
  background-color: #4B4B4B;
}

/* line 6, app/assets/stylesheets/components/footer.scss */
footer small {
  font-family: 'gothamxlightitalic', 'gothamlightitalic', Arial;
}

/* line 11, app/assets/stylesheets/components/footer.scss */
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 350px;
  max-width: 100%;
}

/* line 19, app/assets/stylesheets/components/footer.scss */
.footer-links a {
  margin: 2px 0;
  color: white;
  font-family: 'gothammedium', 'gothamlight', Arial;
  display: flex;
  align-items: center;
}

/* line 27, app/assets/stylesheets/components/footer.scss */
.footer-links img {
  margin-right: 5px;
  margin-bottom: 2px;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/modal.scss */
.modal {
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: #bbbbbbad;
  display: none;
  top: 0;
  z-index: 99999;
  overflow: auto;
}

/* line 13, app/assets/stylesheets/components/modal.scss */
.modal--active {
  display: block;
}

/* line 15, app/assets/stylesheets/components/modal.scss */
.modal__content {
  background-color: white;
  text-align: center;
  width: 95%;
  right: 0;
  left: 0;
  margin: 90px auto;
  position: absolute;
  z-index: 100;
}

/* line 26, app/assets/stylesheets/components/modal.scss */
.modal__close {
  cursor: pointer;
  top: 0;
  right: 0;
  position: absolute;
  margin: 30px;
  font-size: 30px;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/navbar.scss */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-position: -240% 70%;
  background-repeat: no-repeat;
  border-bottom: 1px solid #3B3B3B;
  background-color: white;
}

/* line 13, app/assets/stylesheets/components/navbar.scss */
.navbar--active {
  margin-left: 352px;
}

/* line 17, app/assets/stylesheets/components/navbar.scss */
.navbar__mobile {
  width: 100%;
}

/* line 20, app/assets/stylesheets/components/navbar.scss */
.navbar__mobile #logo, .navbar__mobile #logo-project {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@media (min-width: 768px) {
  /* line 17, app/assets/stylesheets/components/navbar.scss */
  .navbar__mobile {
    display: none;
  }
}

/* line 30, app/assets/stylesheets/components/navbar.scss */
.navbar__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  height: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 899px) {
  /* line 30, app/assets/stylesheets/components/navbar.scss */
  .navbar__content {
    justify-content: space-between;
  }
}

/* line 41, app/assets/stylesheets/components/navbar.scss */
.navbar__form {
  display: none;
}

@media (min-width: 768px) {
  /* line 41, app/assets/stylesheets/components/navbar.scss */
  .navbar__form {
    display: block;
    margin-left: 10%;
    width: 50%;
  }
}

@media (min-width: 768px) {
  /* line 51, app/assets/stylesheets/components/navbar.scss */
  .navbar .icon {
    display: none;
  }
}

@media (min-width: 768px) {
  /* line 55, app/assets/stylesheets/components/navbar.scss */
  .navbar__menu-icon {
    margin-right: 20px;
  }
}

/* line 60, app/assets/stylesheets/components/navbar.scss */
.menu {
  display: none;
  width: 300px;
  padding: 25px;
  border-right: 2px solid #c2c2c2;
  height: 100vh;
  background-color: #efefef;
}

/* line 68, app/assets/stylesheets/components/navbar.scss */
.menu--active {
  display: block;
}

/* line 72, app/assets/stylesheets/components/navbar.scss */
.menu ul {
  list-style: none;
  padding: 0;
}

/* line 78, app/assets/stylesheets/components/navbar.scss */
.sidebar {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 9999;
  left: -100vw;
  top: 0;
  transition: all 0.1s ease-out 0s;
  background-color: white;
  overflow: hidden;
}

/* line 89, app/assets/stylesheets/components/navbar.scss */
.sidebar--active {
  left: 0;
}

/* line 93, app/assets/stylesheets/components/navbar.scss */
.sidebar__content {
  padding: 15px;
  position: relative;
  height: 100%;
}

/* line 98, app/assets/stylesheets/components/navbar.scss */
.sidebar__content .logo {
  max-width: 150px;
  position: absolute;
  bottom: 15%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

/* line 108, app/assets/stylesheets/components/navbar.scss */
.sidebar__list {
  position: absolute;
  z-index: 999;
  list-style: none;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 118, app/assets/stylesheets/components/navbar.scss */
.sidebar__list li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 124, app/assets/stylesheets/components/navbar.scss */
.sidebar__list a {
  font-weight: bold;
  margin-left: 10px;
}

/* line 129, app/assets/stylesheets/components/navbar.scss */
.sidebar__list img {
  float: left;
}

/* line 132, app/assets/stylesheets/components/navbar.scss */
.sidebar img {
  float: right;
}

/* line 135, app/assets/stylesheets/components/navbar.scss */
.page-content {
  position: relative;
  margin-top: 61px;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/network-card.scss */
.network-card {
  width: 150px;
  padding: 10px;
}

/* line 7, app/assets/stylesheets/components/network-card.scss */
.network-card--line {
  border-left: 2px solid;
  margin-left: 25px;
}

/* line 12, app/assets/stylesheets/components/network-card.scss */
.network-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

/* line 19, app/assets/stylesheets/components/network-card.scss */
.network-card__content {
  display: inline-block;
  text-align: left;
  margin-left: 10px;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/portfolio-card.scss */
.portfolio-card {
  position: relative;
  height: auto;
  width: 100%;
  max-height: 150px;
  max-width: 250px;
  margin: 5px;
}

/* line 11, app/assets/stylesheets/components/portfolio-card.scss */
.portfolio-card__background {
  width: 100%;
  height: 100%;
}

/* line 16, app/assets/stylesheets/components/portfolio-card.scss */
.portfolio-card__content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0, 0, 0.28, 1.03);
  background-color: #ffffffad;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* line 30, app/assets/stylesheets/components/portfolio-card.scss */
.portfolio-card__content:hover {
  opacity: 1;
}
@media only print {
  /* line 2, app/assets/stylesheets/components/print.scss */
  .header, .header-space,
  .footer, .footer-space {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  /* line 8, app/assets/stylesheets/components/print.scss */
  .header {
    position: fixed;
    top: 0;
    -webkit-print-color-adjust: exact;
  }
  /* line 14, app/assets/stylesheets/components/print.scss */
  .header-space, .header {
    height: 180px;
  }
  /* line 18, app/assets/stylesheets/components/print.scss */
  .footer-space, .footer {
    height: 97px;
  }
  /* line 22, app/assets/stylesheets/components/print.scss */
  .footer {
    -webkit-print-color-adjust: exact;
    position: fixed;
    bottom: 0;
  }
  /* line 28, app/assets/stylesheets/components/print.scss */
  th, td {
    border-bottom: 0;
  }
  /* line 32, app/assets/stylesheets/components/print.scss */
  .no-print {
    display: none;
  }
  /* line 33, app/assets/stylesheets/components/print.scss */
  .fancy-form__input {
    border: none;
  }
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/product.scss */
.product {
  max-width: 100%;
  overflow: hidden;
}

/* line 7, app/assets/stylesheets/components/product.scss */
.product__head {
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

/* line 13, app/assets/stylesheets/components/product.scss */
.product__head img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* line 19, app/assets/stylesheets/components/product.scss */
.product__head h3 {
  margin: 0;
  margin-left: 15px;
}

/* line 24, app/assets/stylesheets/components/product.scss */
.product__head .more {
  position: absolute;
  right: 0;
  height: 30px;
  margin: 0 auto;
  z-index: 999;
}

/* line 33, app/assets/stylesheets/components/product.scss */
.product__footer {
  padding: 10px;
}

/* line 37, app/assets/stylesheets/components/product.scss */
.product__more {
  display: none;
  font-weight: bold;
  padding: 15px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  right: 0;
  z-index: 999;
  margin-top: 80px;
}

/* line 50, app/assets/stylesheets/components/product.scss */
.size-button {
  padding: 5px 20px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* line 57, app/assets/stylesheets/components/product.scss */
.selected-size {
  background-color: #35C1AE;
  color: white;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/project.scss */
.project {
  position: relative;
  min-height: 90vh;
}

/* line 7, app/assets/stylesheets/components/project.scss */
.project__image {
  background-color: #4a90e2;
  text-align: center;
  height: 400px;
  overflow: hidden;
}

@media (min-width: 768px) {
  /* line 7, app/assets/stylesheets/components/project.scss */
  .project__image {
    background-color: transparent;
    min-height: 600px;
    width: 48%;
    display: inline-block;
    margin: 0 20px 0 0;
  }
}

/* line 21, app/assets/stylesheets/components/project.scss */
.project__image img {
  height: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  /* line 21, app/assets/stylesheets/components/project.scss */
  .project__image img {
    width: 100%;
    height: auto;
  }
}

/* line 32, app/assets/stylesheets/components/project.scss */
.project__content {
  text-align: center;
}

@media (min-width: 768px) {
  /* line 32, app/assets/stylesheets/components/project.scss */
  .project__content {
    text-align: justify;
    vertical-align: top;
    display: inline-block;
    width: 48%;
  }
}

/* line 42, app/assets/stylesheets/components/project.scss */
.project__content img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1200px) {
  /* line 42, app/assets/stylesheets/components/project.scss */
  .project__content img {
    width: 44%;
    max-width: 650px;
    position: absolute;
    left: 0;
    right: 10%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px grey;
  }
}

@media (min-width: 1200px) {
  /* line 58, app/assets/stylesheets/components/project.scss */
  .project__floating-text {
    width: 55%;
    float: right;
  }
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/section.scss */
.section {
  overflow: hidden;
}

@media (min-width: 768px) {
  /* line 3, app/assets/stylesheets/components/section.scss */
  .section {
    min-height: 80vh;
  }
}

@media (min-width: 768px) {
  /* line 8, app/assets/stylesheets/components/section.scss */
  .section--fixed-size {
    height: 80vh;
  }
}

@media (max-height: 500px) {
  /* line 8, app/assets/stylesheets/components/section.scss */
  .section--fixed-size {
    min-height: 100vh;
    height: unset;
  }
}

/* line 14, app/assets/stylesheets/components/section.scss */
.section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 15px;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-height: 500px) {
  /* line 14, app/assets/stylesheets/components/section.scss */
  .section__content {
    padding-top: 80px;
  }
}

/* line 71, app/assets/stylesheets/components/variables.scss */
.section--blue {
  background-color: #13B3F2;
}

/* line 72, app/assets/stylesheets/components/variables.scss */
.section--black {
  background-color: #0D0D0D;
}

/* line 73, app/assets/stylesheets/components/variables.scss */
.section--pink {
  background-color: #F23D5E;
}

/* line 74, app/assets/stylesheets/components/variables.scss */
.section--green {
  background-color: #35C1AE;
}

/* line 75, app/assets/stylesheets/components/variables.scss */
.section--light-green {
  background-color: #2ad8a6;
}

/* line 76, app/assets/stylesheets/components/variables.scss */
.section--yellow {
  background-color: #ffc406;
}

/* line 77, app/assets/stylesheets/components/variables.scss */
.section--gray {
  background-color: #4B4B4B;
}

/* line 78, app/assets/stylesheets/components/variables.scss */
.section--light-gray {
  background-color: #efefef;
}

/* line 27, app/assets/stylesheets/components/section.scss */
.section--gradient {
  background-image: linear-gradient(45deg, #F23D5E, #c533f5);
  color: white;
  position: relative;
  min-height: 800px;
  max-height: 60vh;
}

/* line 34, app/assets/stylesheets/components/section.scss */
.section--gradient__content {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}

/* line 42, app/assets/stylesheets/components/section.scss */
.section__background {
  width: 100%;
  height: -webkit-fill-available;
  position: absolute;
  background-image: linear-gradient(-45deg, #F23D5E, #c533f5);
  opacity: 0;
  z-index: 0;
  -webkit-animation: bgcolor 10s infinite;
  animation: bgcolor 10s infinite;
}

/* line 55, app/assets/stylesheets/components/section.scss */
footer {
  padding-bottom: 5px;
  text-align: center;
}

/* line 59, app/assets/stylesheets/components/section.scss */
footer .fas, footer .fab, footer .fa {
  color: white;
  font-size: 20px;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/slide.scss */
.slide {
  display: none;
}

/* line 6, app/assets/stylesheets/components/slide.scss */
.slide--active {
  display: block;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/split.scss */
.split {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  /* line 3, app/assets/stylesheets/components/split.scss */
  .split {
    flex-direction: row;
    text-align: left;
  }
}

/* line 14, app/assets/stylesheets/components/split.scss */
.split--inverted {
  flex-direction: column-reverse;
}

@media (min-width: 768px) {
  /* line 14, app/assets/stylesheets/components/split.scss */
  .split--inverted {
    flex-direction: row;
  }
}

/* line 20, app/assets/stylesheets/components/split.scss */
.split__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}

@media (min-width: 768px) {
  /* line 20, app/assets/stylesheets/components/split.scss */
  .split__content {
    width: 50%;
    padding: 0 50px;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  /* line 20, app/assets/stylesheets/components/split.scss */
  .split__content {
    padding: 0 100px;
  }
}

/* line 71, app/assets/stylesheets/components/variables.scss */
.split__content--blue {
  background-color: #13B3F2;
}

/* line 72, app/assets/stylesheets/components/variables.scss */
.split__content--black {
  background-color: #0D0D0D;
}

/* line 73, app/assets/stylesheets/components/variables.scss */
.split__content--pink {
  background-color: #F23D5E;
}

/* line 74, app/assets/stylesheets/components/variables.scss */
.split__content--green {
  background-color: #35C1AE;
}

/* line 75, app/assets/stylesheets/components/variables.scss */
.split__content--light-green {
  background-color: #2ad8a6;
}

/* line 76, app/assets/stylesheets/components/variables.scss */
.split__content--yellow {
  background-color: #ffc406;
}

/* line 77, app/assets/stylesheets/components/variables.scss */
.split__content--gray {
  background-color: #4B4B4B;
}

/* line 78, app/assets/stylesheets/components/variables.scss */
.split__content--light-gray {
  background-color: #efefef;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/table.scss */
.table {
  width: 100%;
}

@media screen and (max-width: 720px) {
  /* line 3, app/assets/stylesheets/components/table.scss */
  .table {
    max-width: 100%;
    overflow-x: scroll;
  }
}

/* line 12, app/assets/stylesheets/components/table.scss */
.table--transparent tr {
  background-color: transparent;
}

/* line 13, app/assets/stylesheets/components/table.scss */
.table--transparent tr:nth-child(even) {
  background-color: #ffffff57;
}

/* line 14, app/assets/stylesheets/components/table.scss */
.table--transparent th, .table--transparent td {
  border-bottom: none;
}

/* line 18, app/assets/stylesheets/components/table.scss */
table {
  border-collapse: collapse;
}

/* line 22, app/assets/stylesheets/components/table.scss */
th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

/* line 28, app/assets/stylesheets/components/table.scss */
tr {
  background-color: white;
}

/* line 32, app/assets/stylesheets/components/table.scss */
tr:nth-child(even) {
  background-color: #efefef;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/testimonial.scss */
.testimonial {
  overflow: hidden;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* line 7, app/assets/stylesheets/components/testimonial.scss */
.testimonial__content {
  overflow-x: scroll;
  display: -webkit-inline-box;
  width: -webkit-fill-available;
}

/* line 13, app/assets/stylesheets/components/testimonial.scss */
.testimonial__card {
  text-align: center;
  width: 300px;
  margin: 15px;
}

/* line 18, app/assets/stylesheets/components/testimonial.scss */
.testimonial__card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 3, app/assets/stylesheets/components/text.scss */
.text-logo {
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
}

/* line 8, app/assets/stylesheets/components/text.scss */
.title {
  font-size: 30px;
  font-family: 'nexabold', 'gothammedium';
}

@media (min-width: 768px) {
  /* line 8, app/assets/stylesheets/components/text.scss */
  .title {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  /* line 15, app/assets/stylesheets/components/text.scss */
  .subtitle {
    font-size: 20px;
  }
}

/* line 20, app/assets/stylesheets/components/text.scss */
.text--bold {
  font-weight: bold;
}

/* line 21, app/assets/stylesheets/components/text.scss */
.text--small {
  font-size: 20px;
}

/* line 22, app/assets/stylesheets/components/text.scss */
.text--center {
  text-align: center;
}

/* line 60, app/assets/stylesheets/components/variables.scss */
.text--blue {
  color: #13B3F2;
}

/* line 61, app/assets/stylesheets/components/variables.scss */
.text--black {
  color: #0D0D0D;
}

/* line 62, app/assets/stylesheets/components/variables.scss */
.text--pink {
  color: #F23D5E;
}

/* line 63, app/assets/stylesheets/components/variables.scss */
.text--white {
  color: white;
}

/* line 64, app/assets/stylesheets/components/variables.scss */
.text--green {
  color: #35C1AE;
}

/* line 65, app/assets/stylesheets/components/variables.scss */
.text--yellow {
  color: #ffc406;
}

/* line 66, app/assets/stylesheets/components/variables.scss */
.text--gray {
  color: #4B4B4B;
}

/* line 67, app/assets/stylesheets/components/variables.scss */
.text--light-gray {
  color: #efefef;
}
/* line 1, app/assets/stylesheets/components/underline.scss */
.underline {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

/* line 6, app/assets/stylesheets/components/underline.scss */
.underline:after {
  display: block;
  content: '';
  border-bottom: solid 1.5px #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}

/* line 14, app/assets/stylesheets/components/underline.scss */
.underline:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

@keyframes bgcolor {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

/* line 4, app/assets/stylesheets/theme.scss */
body {
  margin: 0;
  font-family: 'Gotham-Light', sans-serif;
  line-height: 1.5;
}

/* line 10, app/assets/stylesheets/theme.scss */
a {
  text-decoration: none;
  color: #0D0D0D;
}

/* line 15, app/assets/stylesheets/theme.scss */
.center {
  margin: 0 auto;
}

/* line 16, app/assets/stylesheets/theme.scss */
.text-center {
  text-align: center;
}

/* line 18, app/assets/stylesheets/theme.scss */
.image {
  max-width: 100%;
}

@media (min-width: 425px) {
  /* line 18, app/assets/stylesheets/theme.scss */
  .image {
    max-width: 70%;
  }
}

@media (min-width: 768px) {
  /* line 18, app/assets/stylesheets/theme.scss */
  .image {
    max-width: 100%;
  }
}

/* line 25, app/assets/stylesheets/theme.scss */
.field_with_errors {
  padding: 5px;
  border: 2px solid red;
  border-radius: 5px;
  margin: 5px 0;
  background-color: white;
  display: block;
}

/* line 34, app/assets/stylesheets/theme.scss */
.profile-card {
  display: flex;
  flex-direction: row;
  margin: 10% 5%;
}

/* line 39, app/assets/stylesheets/theme.scss */
.profile-card img {
  border-radius: 50%;
  margin-right: 20px;
  height: 100px;
  width: 100px;
}

/* line 41, app/assets/stylesheets/theme.scss */
.profile-card__text {
  text-align: left;
}

/* line 43, app/assets/stylesheets/theme.scss */
.profile-card__text h3 {
  margin-bottom: 0;
}

/* line 47, app/assets/stylesheets/theme.scss */
.pattern {
  position: absolute;
  bottom: -4%;
  right: -18%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
