@import "variables";

.button {
  border: none;
  border-radius: 10px;
  padding: 7px 13px;
  color: white;
  font-size: 15px;
  transition: padding 0.2s;
  cursor: pointer;

  &--full-width { width: 100%; padding: 10px }

  &--right {
    @include breakpoint("small-up") { float: right }
  }

  &:disabled {
    background-color: $light-gray !important;
  }

  @include colors("background-color");
}

.select-buttons {
  width: 100%;

  &__content {
    margin: 0 auto;
    width: fit-content;
  }

  &__button {
    border-top: 2px solid $green;
    display: inline-block;
    padding: 10px;
    background-color: $light-gray;
    font-weight: bold;

    &--active {
      background-color: $green;
      color: white;
    }
  }
}

.add-association-button {
  padding: 5px 10px;
  background-color: $blue;
  border-radius: 5px;
  font-weight: bold;
}

.remove-association-button {
  padding: 5px 10px;
  background-color: $red;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
