@import "variables";

.color-box {
  position: relative;

  @include colors("background-color");

  &__content {
    width: 140%;
    height: 100%;
    position: absolute;
    z-index: -1;
    margin-left: -30px;

    @include breakpoint("medium") {
      height: 140%;
      width: 100vw;
      left: 0;
      margin: 0;
    }
  }
}
