@import "variables";

.fancy-form {
  text-align: left;

  input, textarea, select {
    display: block;
    width: 93%;
    height: 27px;
    margin: 10px 0 15px 0;
    padding: 5px 10px;
    font-size: 1rem;
    background-color: $light-gray;
    border-radius: 10px;
    border: none;
  }

  input[type=radio], input[type=checkbox] {
    height: unset;
    width: unset;
    display: unset;
    margin-right: 5px;
  }

  select {
    width: 100%;
    height: 35px;
  }

  textarea {
    height: unset;
  }
}
