@import "variables";

footer {
  background-color: $gray;

  small {
    font-family: 'gothamxlightitalic', 'gothamlightitalic', Arial;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 350px;
  max-width: 100%;

  a {
    margin: 2px 0;
    color: white;
    font-family: 'gothammedium', 'gothamlight', Arial;
    display: flex;
    align-items: center;
  }

  img {
    margin-right: 5px;
    margin-bottom: 2px;
  }
}
