// Colors
$blue: #13B3F2;
$black: #0D0D0D;
$pink: #F23D5E;
$red: #F20505;
$white: white;
$grey: #4B4B4B;
$light-grey: #efefef;
$green: #35C1AE;
$yellow: #ffc406;

// Breakpoints
@mixin breakpoint($value) {
  @if $value == extra-small {
    @media (max-width: 400px) { @content; }
  }

  @else if $value == small-height {
    @media (max-height: 500px) { @content; }
  }

  @else if $value == small-only {
    @media (max-width: 424px) { @content; }
  }

  @else if $value == small-up {
    @media (min-width: 425px) { @content; }
  }

  @else if $value == touch {
    @media (max-width: 899px) { @content; }
  }

  @else if $value == medium {
    @media (min-width: 768px) { @content; }
  }

  @else if $value == medium-up {
    @media (min-width: 900px) { @content; }
  }

  @else if $value == large {
    @media (min-width: 1200px) { @content; }
  }

  @else if $value == extra-large {
    @media (min-width: 1800px) { @content; }
  }

  @else if $value == limiter {
    max-width: 1400px;
    margin: 0 auto;
  }
}

// Managing theme colors with a mixin
@mixin colors($attribute) {
  @if $attribute == color {
    &--blue { color: $blue };
    &--black { color: $black };
    &--pink { color: $pink };
    &--white { color: $white };
    &--green { color: $green };
    &--yellow { color: $yellow };
    &--grey { color: $grey };
    &--light-grey { color: $light-grey };
  }

  @else if $attribute == background-color {
    &--blue { background-color: $blue };
    &--black { background-color: $black };
    &--pink { background-color: $pink };
    &--green { background-color: $green };
    &--yellow { background-color: $yellow };
    &--grey { background-color: $grey };
    &--light-grey { background-color: $light-grey };
  }

  @else if $attribute == border-color {
    &--blue { border-color: $blue };
    &--black { border-color: $black };
    &--pink { border-color: $pink };
    &--green { border-color: $green };
    &--yellow { border-color: $yellow };
    &--grey { border-color: $grey };
    &--light-grey { border-color: $light-grey };
  }
}

@font-face {
  font-family: "gothamlight";
  src: url("../fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "gothamlightitalic";
  src: url("../fonts/Gotham-Lightitalic.otf") format("opentype");
}

@font-face {
  font-family: "gothammedium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlight";
  src: url("../fonts/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: "gothamxlightitalic";
  src: url("../fonts/Gotham-XLightita.otf") format("opentype");
}

// CSS animations
@keyframes bgcolor {
    0% {
      opacity: 0%;
    }

    50% {
      opacity: 100%;
    }

    100% {
      opacity: 0%;
    }
}
