// Color Variables, Breakpoints and utils
@import "components/variables";

body {
  margin: 0;
  font-family: 'Gotham-Light', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $black;
}

.center { margin: 0 auto }
.text-center { text-align: center }

.image {
  max-width: 100%;

  @include breakpoint("small-up") { max-width: 70% }
  @include breakpoint("medium") { max-width: 100% }
}

.field_with_errors {
  padding: 5px;
  border: 2px solid red;
  border-radius: 5px;
  margin: 5px 0;
  background-color: white;
  display: block;
}

.profile-card {
  display: flex;
  flex-direction: row;
  margin: 10% 5%;

  img {
    border-radius: 50%;
    margin-right: 20px;
    height: auto;
    width: 100px;
  }

  &__text {
    text-align: left;
    h3 { margin-bottom: 0 }
  }
}

.pattern {
  position: absolute;
  bottom: -4%;
  right: -18%;
}

.limiter {
  @include breakpoint("limiter");
}
